<h4 class="p-muted-heading">Charm information</h4>
<p class="u-no-margin--bottom">Latest release</p>
<p><strong>{{ last_updated }}</strong></p>
<p class="u-no-margin--bottom">Releases</p>
<p><strong>{{ releases }}</strong></p>
<p class="u-no-margin--bottom">Deployments</p>
<p><strong>{{ deployments }}</strong></p>
<p class="u-no-margin--bottom">License</p>
<p><strong>{{ license }}</strong></p>
<p><img src="https://assets.ubuntu.com/v1/9bce0bc3-home.svg" alt="" style="padding-right: .5rem;"><a href="/">Homepage</a></p>
<p><img src="https://assets.ubuntu.com/v1/42a073e3-repo.svg" alt="" style="padding-right: .5rem;"><a href="/">Repository</a></p>
<p><img src="https://assets.ubuntu.com/v1/2947d8db-bug.svg" alt="" style="padding-right: .5rem;"><a href="/">Submit a bug</a></p>
<p><img src="https://assets.ubuntu.com/v1/8e5d3c7e-contact.svg" alt="" style="padding-right: .5rem;"><a href="{{ contact }}">Contact</a></p>
