<div class="row" id="js-snap-tabs">
  <nav class="p-tabs">
    <ul class="p-tabs__list" role="tablist">
      <li class="p-tabs__item" role="presentation">
        <a href="#section1" class="p-tabs__link" tabindex="0" role="tab"
          aria-controls="section1" aria-selected="true">Overview</a>
      </li>
      <li class="p-tabs__item" role="presentation">
        <a href="#section2" class="p-tabs__link" tabindex="-1" role="tab"
          aria-controls="section2">Configuration</a>
      </li>
      <li class="p-tabs__item" role="presentation">
        <a href="#section3" class="p-tabs__link" tabindex="-1" role="tab"
          aria-controls="section3">Functions</a>
      </li>
      <li class="p-tabs__item" role="presentation">
        <a href="#section4" class="p-tabs__link" tabindex="-1" role="tab"
          aria-controls="section4">Integrations</a>
      </li>
      <li class="p-tabs__item" role="presentation">
        <a href="#section5" class="p-tabs__link" tabindex="-1" role="tab"
          aria-controls="section5">Docs</a>
      </li>
      <li class="p-tabs__item" role="presentation">
        <a href="#section6" class="p-tabs__link" tabindex="-1" role="tab"
          aria-controls="section6">History</a>
      </li>
      <li class="p-tabs__item" role="presentation">
        <a href="#section7" class="p-tabs__link" tabindex="-1" role="tab"
          aria-controls="section7">Contribute</a>
      </li>
    </ul>
  </nav>
</div> 
