<div class="u-fixed-width">
  <hr />
</div>
<div class="p-strip is-shallow">
  <div class="u-fixed-width">
    <h3 class="p-heading--four">Top bundles using this charm</h3>
  </div>
</div>
<div class="p-strip is-shallow u-no-padding--top" style="margin-bottom: 4rem;">
  <div class="row" id="distros">
    <div class="col-4 col-medium-4">
      <div style="margin-bottom: 1rem;">
        <a href="/canonical-kubernetes/bundle/804"
          class="u-no-link-underline search-results__bundle-icon">
          <img
            src="https://api.jujucharms.com/charmstore/v5/~containers/kubernetes-master-788/icon.svg"
            class="search-results__icon" alt="">
          <img
            src="https://api.jujucharms.com/charmstore/v5/~containers/kubernetes-worker-623/icon.svg"
            class="search-results__icon" alt="">
          +5
        </a>
        <h4 class="p-snap-heading__name" data-live="title" style="display: inline; padding-left: 1rem;">
          {{ snap_title }}</h4>
      </div>
      <ul class="p-inline-list--middot">
        <li class="p-inline-list__item u-hide--small">
          {% include 'store/_snap-header-information.html' %}
        </li>
        {% for category in categories %}<li class="p-inline-list__item">
          <a href="/search?category={{category.slug}}">{{ category.name }}</a>
        </li>{% endfor %}
      </ul>
      <div class="series-tags">
        <span class="series-tag">
          14.04
        </span>
        <span class="series-tag">
          18.04
        </span>
      </div>
      <p>
        This example bundle deploys a basic OpenStack Cloud (Stein with Ceph Mimic) on
        Ubuntu 18.04 LTS (Bionic), providing Dashboard, Compute, Network, Block
        Storage, Object Storage, Identity and Image services.
      </p>
    </div>
    <div class="col-4 col-medium-4">
      <div style="margin-bottom: 1rem;">
        <a href="/canonical-kubernetes/bundle/804"
          class="u-no-link-underline search-results__bundle-icon">
          <img
            src="https://api.jujucharms.com/charmstore/v5/lxd-22/icon.svg"
            class="search-results__icon" alt="">
          <img
            src="https://api.jujucharms.com/charmstore/v5/openstack-dashboard-271/icon.svg"
            class="search-results__icon" alt="">
          +12
        </a>
        <h4 class="p-snap-heading__name" data-live="title" style="display: inline; padding-left: 1rem;">
          Openstack Lxd</h4>
      </div>
      <ul class="p-inline-list--middot">
        <li class="p-inline-list__item u-hide--small">
          {% include 'store/_snap-header-information.html' %}
        </li>
        {% for category in categories %}<li class="p-inline-list__item">
          <a href="/search?category={{category.slug}}">{{ category.name }}</a>
        </li>{% endfor %}
      </ul>
      <div class="series-tags">
        <span class="series-tag">
          14.04
        </span>
      </div>
      <p>
        This example bundle deploys a basic OpenStack Cloud (Stein with Ceph Mimic) on
        Ubuntu 18.04 LTS (Bionic), providing Dashboard, Compute, Network, Block
        Storage, Object Storage, Identity and Image services.
      </p>
    </div>
    <div class="col-4 col-medium-4">
      <div style="margin-bottom: 1rem;">
        <a href="/canonical-kubernetes/bundle/804"
          class="u-no-link-underline search-results__bundle-icon">
          <img
            src="https://api.jujucharms.com/charmstore/v5/openstack-dashboard-295/icon.svg"
            class="search-results__icon" alt="">
          <img
            src="https://api.jujucharms.com/charmstore/v5/aodh-35/icon.svg"
            class="search-results__icon" alt="">
          +22
        </a>
        <h4 class="p-snap-heading__name" data-live="title" style="display: inline; padding-left: 1rem;">
          Openstack Ciaas Example</h4>
      </div>
      <ul class="p-inline-list--middot">
        <li class="p-inline-list__item u-hide--small">
          {% include 'store/_snap-header-information.html' %}
        </li>
        {% for category in categories %}<li class="p-inline-list__item">
          <a href="/search?category={{category.slug}}">{{ category.name }}</a>
        </li>{% endfor %}
      </ul>
      <div class="series-tags">
        <span class="series-tag">
          14.04
        </span>
        <span class="series-tag">
          16.04
        </span>
        <span class="series-tag">
          18.04
        </span>
      </div>
      <p>
        This example bundle deploys a basic OpenStack Cloud (Stein with Ceph Mimic) on
        Ubuntu 18.04 LTS (Bionic), providing Dashboard, Compute, Network, Block
        Storage, Object Storage, Identity and Image services.
      </p>
    </div>
  </div>
</div> 
